<h1>New Discount</h1>

<%= form_for :discount do |form| %>

  <div class="field">
    <%= form.label :range_low %>
    <%= form.number_field :range_low, id: :discount_range_low %>
  </div>

  <div class="field">
    <%= form.label :range_high %>
    <%= form.number_field :range_high, id: :discount_range_high %>
  </div>

  <div class="field">
    <%= form.label :percent %>
    <%= form.text_field :percent, id: :discount_percent %>
  </div>

  <div class="field">
    <%= form.label :item_id %>
    <%= form.text_field :item_id, id: :discount_item_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>


<%= link_to 'Back', dashboard_items_path %>
